@mixin myhead(){
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 30px;
    padding-bottom: 20px;text-transform: uppercase;
    span{
            float: right;
            font-size: 16px;
            color: #000;
            letter-spacing: 0;
            font-weight: 500;
            padding-right: 5px;
            padding-top: 15px;text-transform: capitalize;
            a{color:#000;}
        }
    }