#pageloader
{
    background: rgba( 255, 255, 255, 0.8 );
    height: 100%;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

#pageloader img
{
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}

.artist_logo{
    width:35px!important;
    height:30px!important;
}
.pt-8{
    padding: 8px 0px 0px 0px;
}

.footer-copyrights {
  background-color: #000;
  color: #fff;
  text-align: center;
}
body{
    background-color: red;
}

